.inventory-body {
  min-width: 100%;
  background-image: url("https://i.postimg.cc/Dw20vhft/titolo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-size: cover;
}

mat-sidenav-container {
  height: 100%;
}
.menu {
  vertical-align: middle;
  cursor: pointer;
}

.loginicon {
  flex: 1 1 auto;
}

.content {
  box-sizing: 140px;
}
