
    <div id="wrapper">
      <div id="title">
    <h2 mat-dialog-title> Imposta parametri per la Vm: </h2>
    </div>
    <form [formGroup]= "limitForm" (ngSubmit)="createvm()" autocomplete="off">
        <div class="row">
          <div class="row_input">
            <mat-form-field class="row_field">
            <input matInput type="text" class="inputField" id="VCPU" placeholder="VCPU" autocomplete="off" formControlName="VCPU" [(ngModel)]="data.nVCpu">
            <mat-hint align="end">{{data.nVCpu}} / {{vcpu_left}}</mat-hint>
            <div *ngIf="submitted && f.VCPU.errors" class="invalid-feedback">
              <div *ngIf="f.VCPU.errors.required">Inserire il numero di Cpu </div>
            </div> 
            </mat-form-field>
            </div>
            <div class="row_progress">
              <mat-progress-spinner diameter="30" mode="determinate" [value]="vcpu_consumption"></mat-progress-spinner>
            
          </div>
        </div>

        <div class="row"> 
          <div class="row_input">
            <mat-form-field class="row_field">
            <input matInput class="inputField" type="text" id="RAM" placeholder="RAM" formControlName="RAM" [(ngModel)]="data.ram" >
            <p matSuffix>MB</p>
            <mat-hint align="end">{{data.ram}} / {{ram_left}}</mat-hint>
           <div *ngIf="submitted && f.RAM.errors" class="invalid-feedback">
              <div *ngIf="f.RAM.errors.required">Inserire il numero di Ram </div>
          </div>
          </mat-form-field>
          </div>
          <div class="row_progress">
            <mat-progress-spinner diameter="30" mode="determinate" [value]="ram_consumption"></mat-progress-spinner>
         </div>
        </div>

        <div class="row">
            <div class="row_input">
              <mat-form-field class="row_field">
              <input matInput class="inputField" type="text" id="Disksize" placeholder="Disksize" formControlName="Disksize" [(ngModel)]="data.disk" >
              <p matSuffix>MB</p>
              <mat-hint align="end">{{data.disk}} / {{disk_left}}</mat-hint>
             <div *ngIf="submitted && f.Disksize.errors" class="invalid-feedback">
                <div *ngIf="f.Disksize.errors.required">Inserire la dimensione del disco </div>
            </div>
          
            </mat-form-field>
            </div>
            <div class="row_progress">
              <mat-progress-spinner diameter="30" mode="determinate" [value]="disk_consumption"></mat-progress-spinner>
            </div>
          </div>
         

        <div id="buttons">
          <button mat-raised-button [mat-dialog-close]= "data" id="buttonCrea" [disabled]="!limitForm.valid" color="primary" type="submit" class = "limit"> Crea </button> 
          <button mat-raised-button color="primary" id="buttonChiudi" (click)="close()"> Chiudi </button>
        </div>

</form>
    </div>
