table {
  width: 100%;
}

#wrapperDiv {
  
  margin: auto;
  height: 100%;
  width: 100%;
}

#tableClassesDiv {
  width: 100%;
}

#createTeamDiv {
  
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

  #tableClassesTitle {
    margin-left: 5px;
  }

  #nomeGruppoField {
    margin-right: 20px;
    display: inline-block;
  }

  #timeoutField {
    margin-right: 20px;
    display: inline-block;
  }

  #buttonField {
    display: inline-block;
  }

    #buttonField_button {
      background-color: royalblue;
      color: white;
    }
    #buttonField_button:hover {
      background-color: blue;
    }


#proposalsDiv {
  height: fit-content;
  display: flex;
}

  #members_row {
    border-bottom: 1px solid lightgray;
    min-height: 45px;
    display:block;
  }

  .members_field {
    padding: 5px;
    margin: auto;
    display: inline-block;
    text-align: center;
  }

    .members_field_button {
      display: inline-block;
      margin: 2px;
    }

      #members_field_button_o {
        background-color: royalblue;
        color: white;
      }
      #members_field_button_o:hover {
        background-color: blue;
      }

  .noItalic {
    font-style: normal !important;
    font-weight: normal !important;
  }

  
  


