table {
  width: 100%;
  table-layout: fixed;
}

#wrapperDiv {
  
  margin: auto;
  height: fit-content;
}

#tableClassesDiv {
  width: 100%;
}

#createTeamDiv {
  
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

  #tableClassesTitle {
    margin-left: 5px;
  }

  #nomeGruppoField {
    margin-right: 20px;
    display: inline-block;
  }

  #timeoutField {
    margin-right: 20px;
    display: inline-block;
  }

  #buttonField {
    display: inline-block;
  }

    #buttonField_button {
      background-color: royalblue;
      color: white;
    }
    #buttonField_button:hover {
      background-color: blue;
    }

#proposalsDiv {
  
}
  


