   <app-students
    [tablevalue] ="tabvalue"
    [studenti] ="studenti"
    [enrolledstudents] ="enrolledstudents"
    [dataSource] ="dataSource"
    [compagniDTO]="compagniDTO"
    [teamName] = "teamName"
    [teams] = "teamsinconstruction"
    (groupName) = "groupname($event)"
    (timeoutValue) = "timeout($event)"
    (invitestudentEvent) = "receiveinvitation($event)"
    (addstudentEvent) = "receivestudent($event)"
    (removestudentsEvent) = "receivearray($event)"
 
    >
    </app-students>

