   <app-students 
    [tablevalue] ="tabvalue"
    [studenti] ="studenti" 
    [enrolledstudents] ="enrolledstudents"
    [dataSource] ="dataSource"
    [compagni] ="compagni"
    [groupid] = "groupid"
    (groupName) = "groupname($event)"
    (timeoutValue) = "timeout($event)"
    (invitestudentEvent) = "receiveinvitation($event)" 
    (addstudentEvent) = "receivestudent($event)"
    (removestudentsEvent) = "receivearray($event)"
    (invitestudentEvent) = "receiveinvitation($event)"
    >
    </app-students>
    
