<div>
    <nav mat-tab-nav-bar>
    <a mat-tab-link [routerLink]="[href2]" [queryParams]="{name : firstParam}" routerLinkActive="active">Gruppi</a>
    <a mat-tab-link [routerLink]="[href]" [queryParams]="{name : firstParam}" routerLinkActive="active">Vms</a>
    <a mat-tab-link [routerLink]="[href3]" [queryParams]="{name : firstParam}" routerLinkActive="active">Elaborati</a>
    </nav>
    <router-outlet></router-outlet>

   </div>
   <app-vmscomponentstudent
   
   [vmModel] = "vmModel"
   [vmsperteam$] = "vmsperteam$"
   [roles$] = "roles$"
   [myRoles] = "roles$ | async"
   [usedResources$] = "usedResources$"
   [team] = "team"
   (addvmModelEvent) = "receivevmModel($event)"
   (editvmEvent) = "receiveeditvm($event)" 
   (changestateEvent) = "changestatevm($event)"
   (addvmEvent) = "receivevm($event)"
   >



   </app-vmscomponentstudent>
