.th {
  width: 100px;
}
.example-card {
  max-width: 200px;
  margin-bottom: 30px;
  margin-top: 10px;
  margin-left: 10px;
}

.example-header-image {
  background-image: url("https://e7.pngegg.com/pngimages/23/668/png-clipart-vm-logo-text-brand-logo-vmware-text-logo.png");
  background-size: cover;
}

.sub {
  color: green;
}

.mat-card-image:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

#creaVm_button {
  padding: 10px;
} #creaVm_button_o {
  color: white;
}

.cardHeader {
  position: absolute;
  z-index: 1;
}