.th {
  width: 100px;
}
.example-card {
  max-width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 100%;
}

.textAvatar {
  font-size: 12px;
  font-weight: bold;
  margin-top: 7px;
  color: white;
}

.example-header-image1 {
  box-shadow: 1px 1px 10px grey;
  text-align: center;
  background-color: #ff637a;
  background-size: cover;
}

.example-header-image2 {
  box-shadow: 1px 1px 10px grey;
  text-align: center;
  background-color: #63ffac;
  background-size: cover;
}

.example-header-image3 {
  box-shadow: 1px 1px 10px grey;
  text-align: center;
  background-color: #ffea63;
  background-size: cover;
}

.sub {
  color: green;
}

.mat-card-image:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

#creaVm_button {
  padding: 10px;
} #creaVm_button_o {
  color: white;
}

.cardHeader {
  position: absolute;
  z-index: 1;
}

.contcont {
  width: 100%;
  text-align: center;
}

#buttonsContainer {
  margin: 0 auto;
  width: 100%;
}

.actionB_wrapper {
  
  margin-left: 5px;
  display: inline-block;
}

#on {
  background-color: #009959;
} #on:hover{
  background-color: #63ffac;
}
#off {
  background-color: #990014;
} #off:hover {
  background-color: #ff637a;
}
#pause {
  background-color: #e8b200;
} #pause:hover {
  background-color: #ffea63;
}
#del {
  background-color: blue;
} #del:hover {
  background-color: royalblue;
}

.specItem {
  border-bottom: 1px solid #e0e0e0;
}

.editButton {
  margin-left: 85px;
  position: relative;
  z-index: 2;
  text-align: right;
}
#edit:hover {
  background-color: red;
}