
<form [formGroup] = "myForm" id="wrapper">

  <div id="intro" *ngIf="isIntro">
    <div id="button_modificaEsistente" (click)="showMod()">
      <button mat-flat-button class="stdB">Modifica un corso esistente</button>
    </div>
    <div id="button_creaNuovo" (click)="showNew()">
      <button mat-flat-button class="stdB">Crea un nuovo corso</button>
    </div>
  </div>

  <div id="mod_corso" *ngIf="modCourse">

    <div id="sel_corso">

      <mat-form-field id="sel_corso_o">
        <mat-label for="cars">Sel. corso</mat-label>
        <mat-select formControlName ="selcourse" [(ngModel)]="selectedcourse" (selectionChange)="showMods()">
          <mat-option *ngFor = "let course of courses$ | async" [value] = "course"> {{course.name}} </mat-option>
        </mat-select>
      </mat-form-field>
      
    </div>


    <div id="selMinMax" *ngIf="courseSelected">

      <div id="wrap_button_delete" *ngIf="!deletePressed">
        <button mat-button id="buttonDelete" class="stdB_red" (click) = "selectDelete()"> Cancella corso </button>
      </div>

      <div id="wrap_deletion" *ngIf="deletePressed">

        <div id="sure_text">
          <mat-label id="sure_text_o">Sei sicuro di voler cancellare {{ selectedcourse.name }}?</mat-label>
        </div>

        <div id="sure_buttons">
          <div id="sure_yes">
            <button mat-flat-button class="stdB_red" (click)="delete()">Si</button>
          </div>

          <div id="sure_no">
            <button mat-flat-button class="stdB" (click)="close()">No</button>
          </div>
        </div>

      </div>

      <div id="selMin" *ngIf="!deletePressed">
        <mat-form-field id="selMin_o">
          <input matInput placeholder="Minimo studenti per team" formControlName = "minstud" [(ngModel)]="data.minstud">
        </mat-form-field>
      </div>

      <div id="selMax" *ngIf="!deletePressed">
        <mat-form-field id="selMax_o">
          <input matInput placeholder="Massimo studenti per team" formControlName="maxstud" [(ngModel)]="data.maxstud">
        </mat-form-field>
      </div>

      <div id="enableCourse" *ngIf="!deletePressed">

        <mat-checkbox id="enable" name="enable" formControlName="enabled" [(ngModel)]="data.enabled">Abilita il corso</mat-checkbox>
  
      </div>

      <div id="buttonSave_w" *ngIf="!deletePressed">
        <button mat-flat-button id="buttonSave" [mat-dialog-close]="data" class="stdB" (click)="check()"> Salva </button>
      </div>

    </div>  
 
  </div>

  

  
  <div id="crea_corso" *ngIf="newCourse">

    <div id="nome_w">
      <mat-form-field id="crea_corso_nome">
        <input matInput placeholder="Inserisci Nome" formControlName = "coursename" [(ngModel)]="data.coursename">
      </mat-form-field>
    </div>

    <div id="min_w">
      <mat-form-field id="crea_corso_min">
        <input matInput placeholder="Min studenti" formControlName="minstud2" [(ngModel)]="data.minstud">
      </mat-form-field>
    </div>

    <div id="max_w">
      <mat-form-field id="crea_corso_max">
        <input matInput placeholder="Max studenti" formControlName="maxstud2" [(ngModel)]="data.maxstud">
      </mat-form-field>
    </div>

    <div id="acr_w">
      <mat-form-field id="crea_corso_acronimo">
        <input matInput placeholder="Acronimo" formControlName="acronym" [(ngModel)]="data.acronym">
      </mat-form-field>
    </div>

    <div id="en_w">
      <mat-checkbox id="enabled2" name="enabled2" formControlName="enabled2" [(ngModel)]="data.enabled">Abilita il corso</mat-checkbox>
    </div>

<!--<button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>-->
    <div id="buttonCrea_w">
      <button mat-button class="stdB" [mat-dialog-close]="data" (click) = "createcourse()"> Crea </button>
    </div>
    <div id="buttonChiudi_w">
      <button mat-flat-button class="stdB_red" (click)="close()"> Chiudi </button>
    </div>
  </div>
  </form>
