
<form [formGroup] = "myForm">
  <div>
    <div>
  <label for="cars">Quale corso vuoi modificare?</label>
  <select formControlName ="selcourse" [(ngModel)]="selectedcourse">
  
    <option *ngFor = "let course of courses$ | async" [ngValue] = "course" >
      {{course.name}}
    </option>
      
    </select>
  </div>

    <div>
   <mat-form-field>
     <input matInput placeholder="Max studenti" formControlName = "maxstud" [(ngModel)]="maxstud">
   </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Min studenti" formControlName="minstud" [(ngModel)]="minstud">
    </mat-form-field>
<div mat-dialog-actions>
  
</div>

  </div>


   <button (click) = "delete()"> Cancella corso </button>
 
  </div>

  <div>
    <input type="checkbox" id="enable" name="enable" formControlName="enabled" [(ngModel)]="enabled">
    <label for="enable">Enabled</label> 
    <button (click)="check()"> Invia </button>
  </div>

  <div>

    <label for="cars">Crea corso : </label>
    <mat-form-field>
      <input matInput placeholder="Inserisci Nome" formControlName = "coursename" [(ngModel)]="data.coursename">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Max studenti" formControlName="maxstud2" [(ngModel)]="data.maxstud">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Min studenti" formControlName="minstud2" [(ngModel)]="data.minstud">
    </mat-form-field>
  <input type="checkbox" id="enabled2" name="enabled2" formControlName="enabled2" [(ngModel)]="data.enabled">
  <label for="enabled2">Enabled</label>
    <mat-form-field>
      <input matInput placeholder="Acronimo" formControlName="acronym" [(ngModel)]="data.acronym">
    </mat-form-field>
<!--<button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>-->
    <button mat-button [mat-dialog-close]="data" (click) = "createcourse()"> Crea </button>
    <div><button (click)="close()"> Chiudi </button></div>
  </div>
  </form>
