<mat-accordion>

    <mat-expansion-panel *ngFor="let ass of ordered(assignmentWithPapers)" (opened)="setView(ass.papersWithHistory)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <button class ="lab" mat-flat-button class="crDate">{{displayDate(ass.assignment.creationDate)}}</button>
          <button class ="lab" mat-flat-button [ngClass]="classOf(ass.assignment.expiryDate)">entro il {{displayDate(ass.assignment.expiryDate)}}</button>
        </mat-panel-title>
        <mat-panel-description class="descr">
          {{getValids(ass.papersWithHistory).length}} elaborati
        </mat-panel-description>
      </mat-expansion-panel-header>
     
      <mat-list class="papers">
        <mat-list-item class="paper" *ngFor="let pap of filteredViewingPapers" (click)="viewPaper(pap.paper.id, pap.history, pap.paper.currentStatus, pap.paper.editable, ass.assignment.id, ass.assignment)">
          <button class="statusCircle" [ngClass]="pap.paper.currentStatus">s{{pap.creator.id}}</button>
          <p class="details">{{pap.creator.firstName}} {{pap.creator.name}}</p>
        </mat-list-item>

        <div id="readAssWrapper" *ngIf="filteredViewingPapers.length == 0">
            <button mat-flat-button class="buttonO" id="readAss" (click)="viewAssignment(ass.assignment)">Leggi la consegna</button>
        </div>

        <div id="addSolWrapper" *ngIf="filteredViewingPapers.length == 0 && isRead(ass.papersWithHistory) && !isExpired(ass.assignment.expiryDate)">
          
          <div id="addSol">
            <button mat-mini-fab (click)="createPaper(ass.assignment.id)"><mat-icon>add</mat-icon></button>
          </div>
          <div id="addSolLab">
            <mat-label>Carica una soluzione</mat-label>
          </div>
        </div>
        <div id="showExpired" *ngIf="isExpired(ass.assignment.expiryDate)">
          <mat-label>Non è più possibile caricare soluzioni per questo laboratorio</mat-label>
        </div>
      </mat-list>
      
    </mat-expansion-panel>

  </mat-accordion>

  <div *ngIf="assignmentWithPapers.length == 0">
    <h1>Non ci sono ancora consegne per questo corso</h1>
  </div>


