<mat-sidenav-container autosize="true">
  <mat-sidenav opened mode="side" #sidenav>
    <div class="container">
      <mat-nav-list>


        <mat-list-item *ngFor="let item of courses$ | async" [routerLink]="[item.path + '/students']"> {{item.name}}
        </mat-list-item>

        <button class="btn2" mat-raised-button (click)="openmodDialog()"> Modifica
        
        </button>

      </mat-nav-list>

    </div>

  </mat-sidenav>


  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>