mat-sidenav-container{height: 100%; }
.menu {
 
  vertical-align: middle;
  cursor: pointer;
}

.loginicon {
  flex: 1 1 auto;
}

.custom-modalbox .mat-dialog-container {
  padding: 0;
}

.button_modifica {
  margin-left: 8px;
  background-color: royalblue;
  color: white;
}

  .button_modifica:hover {
    background-color: blue;
  }


  
  