#wrapper {
  text-align: center;
}

#buttons {
  margin-top: 4px;
}

#buttonSave {
  margin-right: 4px;
  background-color: royalblue;
}
#buttonSave:hover {
  background-color: blue;
}
#buttonClose {
  margin-left: 4px;
  background-color: orangered;
}
#buttonClose:hover {
  background-color: red;
}

.row {
  width: 100%;
}

.text {
  width: 80%;
}

#so {
  width: 90%;
}
