#wrapping_table {
  width: 100%;
}

#studenti_title {
  margin-left: 8px;
  margin-top: 8px;
}

#search_bar {
  width: 100%;
  display: flex;
}

#search_bar_add {
  float: left;
  margin-left: 8px;
}

  #search_bar_add_o {
    margin-top: 5%;
    background-color: royalblue;
    color: white;
  }

  #search_bar_add_o:hover {
    background-color: blue;
  }


#delete_button {
  margin-left: 20px;
  margin-bottom: 8px;
}

  #delete_button_o {
    background-color: royalblue;
    color: white;
  }

  #delete_button_o:hover {
    background-color: blue;
  }

#table_wrapper {
  width: 100%;
}

#table_studenti {
  width: 100%;
}
    