   <div>
    <nav mat-tab-nav-bar>
      <a mat-tab-link [routerLink] ="[href]" [queryParams] = "{name : firstParam}" routerLinkActive = "active">Students</a>
      <a mat-tab-link [routerLink] = "[href2]" [queryParams] = "{name : firstParam}" routerLinkActive = "active">Vms</a>
      
    </nav>
    <router-outlet></router-outlet>

   </div>
   
   
   <table class= "Studenti">
        <h1>Elenco studenti iscritti al corso</h1>
        <div>
        <form class="example-form">
          
            <mat-form-field class="formfield" appearance="fill">
              
          <input matInput [formControl] = "mycontrol" type="text" class="insert" placeholder="Aggiungi uno studente" [matAutocomplete]="auto"
           [(ngModel)] = "studenteselezionato"
          />
        </mat-form-field>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="saveobject($event)">
            
            <mat-option *ngFor="let student of filteredOptions | async" [value]="student"> {{student.name}} {{student.firstName}} 
              (s{{student.id}})
            </mat-option>
           
  
            </mat-autocomplete>
          
        </form>
         

        <input type="button" name="add" value="Add" class="add" (click)="addstudent()">
        
        </div>
        <button style="color:black;" (click)="removeSelectedRows()" class="buttonrows"> Delete Selected</button>
        <table mat-table [dataSource]= "dataSource" class="studenti">
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            >
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            >
              </mat-checkbox>
            </td>
          </ng-container>



          <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id
          </th>
          <td mat-cell *matCellDef="let student">
            {{student.id}}
          </td>
        </ng-container> 
        <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let student"> {{student.name}} </td>
  </ng-container>

  <!-- First Name Column -->
  <ng-container matColumnDef="firstname">
    <th mat-header-cell *matHeaderCellDef> Firstname </th>
    <td mat-cell *matCellDef="let student"> {{student.firstName}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef = "displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 

   </table>
        <div class="container">
  
        </div>
      </table>
  
