
<div *ngIf = "vmModel">
<h1> Il vmModel ha i seguenti parametri: </h1>
<p> maxNVCpu = {{vmModel.maxNVCpu}}</p>
<p> maxDisk = {{vmModel.maxDisk}}</p>
<p> maxRam = {{vmModel.maxRam}}</p>
<p> operatingSystem = {{vmModel.operatingSystem}}</p>
<p> maxVmsForCourse = {{vmModel.maxVmsForCourse}}</p>
<p> maxActiveVms = {{vmModel.maxActiveVms}}</p>
</div>



<button class="btn2" mat-raised-button (click)="openlimitdialog()"> Imposta Vm Model 

</button>
<!--<table *ngFor="let group of groups">
	
	<tr>
	<th> {{group.name}} </th>
        <button mat-raised-button (click)="openlimitdialog()"> Imposta Limiti </button>
	</tr>

	<tr *ngFor="let vmss of vms ">
	  <td>  <i *ngIf="vmss.groupId == group.id">  {{ vmss.owner }} {{vmss.stato}} </i>
	  </td>   
	</tr>
</table>
-->