table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: auto;
  }

  td, th {
    border: 1px solid #dddddd;
    padding: 3px;
  }

  th {
    width: 100px;
  }

  p {
      font-weight: 300;
      font-family: sans-serif;
  }