/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url(https://kit.fontawesome.com/67167fc489.js);
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input.ng-invalid.ng-dirty {
    border-bottom: #e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important;
}

.custom-modalbox .mat-dialog-container {
    padding: 0;
    overflow: inherit;
}
.mat-dialog-actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: -24px;
  }