
    <div id="input_w">
        <div id="inputLabel">
            <mat-label>Carica la tua soluzione:</mat-label>
        </div>
        <div id="inputO">
            <input #imageInput type="file" (change)="onFileSelected($event)" id="input" accept="image/x-png,image/gif,image/jpeg" enctype="multipart/form-data"  formControlName = "content"  [(ngModel)]= "data.content">
        </div>
        <p id="info">Il file deve essere in formato png/jpg/jpeg</p>
    </div>
    <div id="buttonCarica_w">
        <button mat-flat-button class="buttonO" id="buttonCarica" (click)="carica()">Carica</button>
    </div>