.buttonO {
  background-color: royalblue;
  color: white;
}
.buttonO:hover {
  background-color: blue;
}

#buttonCarica_w {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

#input_w {
  text-align: center;
}

#inputLabel {
  margin-bottom: 8px;
}

#dateTitle {
  margin-top: 16px;
  text-align: center;
}

#datePick {
  text-align: center;
}

<<<<<<< HEAD
.is-invalid {
  color: red;
}
=======
#info {
  font-size: 10px;
  margin-top: 4px;
}
>>>>>>> 2c2bedf58375b7ff413d6b97effc7ca771a4c72b
