<html>
  <head>
    <script src="https://kit.fontawesome.com/67167fc489.js" crossorigin="anonymous"></script>
  </head>
  <div class="toolbar">
<mat-toolbar color="primary">

<mat-toolbar-row>
<mat-icon (click) ="toggleForMenuClick()" class="menu" >menu</mat-icon>
<a routerLink="/"><span class="title"> VirtualLabs</span></a>
<a routerLink="/teacher"><span class="title"> Teacher</span></a>
<a routerLink="/student"><span class="title"> Student </span></a>
<span class ="loginicon" ></span>
<mat-icon class="login">login</mat-icon><i class="fas fa-sign-in-alt"></i>
<a routerLink="/login"><span class="title"></span></a>
<a *ngIf="currentUser"> Benvenuto {{currentUser.username}}</a>
<button  class="btn1" mat-raised-button (click)="openDialog()" *ngIf="!currentUser">Login </button>
<button *ngIf="currentUser" class="btn1" mat-raised-button (click)="logout()"> Logout </button>


</mat-toolbar-row>
</mat-toolbar>
</div>

<mat-toolbar> <span>{{title}}</span></mat-toolbar>

  <router-outlet></router-outlet>
  
  <!-- <mat-sidenav opened mode="side" #sidenav>
  <div class="container">
  <mat-nav-list>
  
  
  <mat-list-item *ngFor="let item of courses$ | async" [routerLink]="[item.path]"> {{item.name}} </mat-list-item> 
  
  <button class="btn2" mat-raised-button (click)="openmodDialog()"> Modifica 

  </button> 

</mat-nav-list>
  
  </div>
</mat-sidenav> 
 
   <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>  -->
 
  
</html>
