<html>
  <head>
    <script src="https://kit.fontawesome.com/67167fc489.js" crossorigin="anonymous"></script>
  </head>
  <div class="toolbar">
<mat-toolbar color="primary">

<mat-toolbar-row id = "toolbar">
<mat-icon (click) ="toggleForMenuClick()" class="menu" >menu</mat-icon>
<span class ="loginicon" ></span>
<mat-icon class="login_icon">login</mat-icon><i class="fas fa-sign-in-alt"></i>
<a routerLink="/login"><span class="title"></span></a>

<div *ngIf="currentUser | async" id="welcome_msg">Benvenuto, {{currentStudent?.name}} {{currentStudent?.firstName}}!</div>
<button  class="log_button" mat-flat-button (click)="openDialog()" *ngIf="!(currentUser | async)">Login </button>
<button *ngIf="currentUser | async" class="log_button" mat-flat-button (click)="logout()"> Logout </button>


</mat-toolbar-row>
</mat-toolbar>
</div>

<mat-toolbar> <span>{{title}}</span></mat-toolbar>

  <router-outlet></router-outlet>
  
  <!-- <mat-sidenav opened mode="side" #sidenav>
  <div class="container">
  <mat-nav-list>
  
  
  <mat-list-item *ngFor="let item of courses$ | async" [routerLink]="[item.path]"> {{item.name}} </mat-list-item> 
  
  <button class="btn2" mat-raised-button (click)="openmodDialog()"> Modifica 

  </button> 

</mat-nav-list>
  
  </div>
</mat-sidenav> 
 
   <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>  -->
 
  
</html>
