@import url(https://fonts.googleapis.com/css?family=Roboto:300);
mat-sidenav-container{ margin: 20px; height: 100%; }
.menu {
 
  vertical-align: middle;
  cursor: pointer;
}

.loginicon {
  flex: 1 1 auto;
}

.custom-modalbox .mat-dialog-container {
      padding: 0;
  }

.btn2 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  position: absolute;
  background: #4CAF50;
  width: 45%;
  max-width: 105px;
  min-width: 105px;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 80%;
}

.btn1 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 8%;
  max-width: 55px;
  min-width: 55px;
  border: 0;
  padding: 5px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 40%;

}


body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}