@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://kit.fontawesome.com/acf0c06335.js);

.fa-arrow-circle-left {
  color: black;
}
.register-page {
  width: 460px;
  margin: auto;
}
.btn::before {
  content: "\f0a8";
  font-family: "FontAwesome";
  font-weight: normal;
  font-size: xx-large;
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form .btn1 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: blue;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.mat-dialog-content {
  display: contents;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: blue;
  text-decoration: none;
}
.form .register-form {
  display: block;
}

.form .btn {
  bottom: 20px;
  position: relative;
  left: 165px;
  border-style: unset;
}

body {
  background: blue; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8dc26f);
  background: -moz-linear-gradient(right, #76b852, #8dc26f);
  background: -o-linear-gradient(right, #76b852, #8dc26f);
  background: linear-gradient(to left, #76b852, #8dc26f);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row_progress {
  vertical-align: middle;
  display: inline-block;
  margin-left: 4px;
}

.example-margin::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: blue;
}
