<mat-dialog-content>  
<html>
  <head>
    <link 
    href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
    rel="stylesheet"  type='text/css'>
    
  <style>
  </style>
</head>
 
<div class="register-page">
    
        
 
<div class="form">
  <mat-dialog-actions>
    <div *ngIf = "!(loading$ | async)">
    <button mat-button class = "btn" (click)= "close()"></button>
    </div>
  </mat-dialog-actions>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
      <div class="form-group">
        <input type="text" placeholder = "Nome" formControlName="nome" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nome.errors }" />
        <div *ngIf="submitted && f.nome.errors" class="invalid-feedback">
            <div *ngIf="f.nome.errors.required">Inserire un nome </div>
        </div>
    </div>
      <div class="form-group">
        <input type="text" placeholder = "Cognome" formControlName="cognome" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cognome.errors }" />
        <div *ngIf="submitted && f.cognome.errors" class="invalid-feedback">
            <div *ngIf="f.cognome.errors.required">Inserire un cognome </div>
        </div>
    </div> 
      <div class="form-group">
            <input type="text" placeholder = "Matricola ('sXXXXXX' o 'dXXXXXX')" formControlName="matricola" class="form-control" [(ngModel)]= "matricolis" [ngClass]="{ 'is-invalid': submitted && f.matricola.errors }" />
            <div *ngIf="submitted && f.matricola.errors" class="invalid-feedback">
                <div *ngIf="f.matricola.errors.required">Inserire una matricola </div>
                <div *ngIf="f.matricola.errors.minlength">La matricola deve essere di 6 caratteri esclusa la lettera </div>
                <div *ngIf="f.matricola.errors.maxlength">La matricola deve essere di 6 caratteri esclusa la lettera </div>
            </div>
        </div>
        <div class="form-group">
          <input type="text" placeholder="Email" formControlName="email" class="form-control" [value]= "autoemail | async"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Inserire una email </div>
          </div>
        </div>
      <div class="form-group">
      <input type="password" placeholder="Password" formControlName="password"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Inserire una password</div>
        <div *ngIf="f.password.errors.minlength">La password deve essere almeno di 6 caratteri </div>
    </div>
</div>
      <div *ngIf = "loading$ | async; else notloading">
        <div class="row_progress">
<mat-progress-spinner class="example-margin" color="green" mode="indeterminate">
</mat-progress-spinner>
</div>
      </div>
<ng-template #notloading>
      <button class="btn1" > Registrati </button>
      </ng-template>
     
    </form>
  </div>
</div>


  </html>
</mat-dialog-content>

