#buttons {
    text-align: center;
}

#buttonReview_w, #buttonRate_w {
    margin-top: 10px;
}

.buttonO, .buttonRev {
    background-color: royalblue;
    color: white;
} .buttonO:hover, .buttonRev:hover {
    background-color: blue;
}

#rate, #review {
    text-align: center;
}

#form {
    margin-right: 10px;
}

#textarea_w {
}

#textarea {
    min-height: 200px;
}

.buttonRev {
    
}

#definitiva {
    margin-top: 8px;
}

#checkbox {
    margin-left: 8px;
}

#buttonCaricaST_w {
    margin-top: 20px;
    text-align: center;
}

#itembutton {
    margin-left: 20px;
}
#itembutton2 {
    margin-left: 20px;
}

.matitem {
    border-bottom: 1px solid #e0e0e0;
}

#closeRev {
    text-align: center;
}

#viewSol {
    max-width: 700px;
    text-align: center;
}

#viewSol_img {
    max-width: 600px;
}

#viewSol_img_obj {
    max-width: 550px;
}