<div id="title" *ngIf="step1">
    <h1>Storico delle soluzioni dello studente</h1>
</div>
<div id="history" *ngIf="step1 && !imageViewer">
    <mat-list>
        <mat-list-item class="matitem" *ngFor="let st of history">
            <div id="itemtext">
                {{displayDate(st.timestamp)}} &nbsp; {{displayTime(st.timestamp)}} &nbsp;&nbsp; {{st.paperStatus}}
            </div>
            <div id="itembutton2" *ngIf="st.content != null">
                <button mat-flat-button class="buttonO" (click)="goViewSol(st.content)">Vedi soluzione</button>
            </div>
            <div id="itembutton" *ngIf="st.review != null && student">
                <button mat-flat-button class="buttonO" (click)="viewReview(st.review)">Vedi revisione del docente</button>
            </div>
        </mat-list-item>
    </mat-list>
</div>

<div id="buttons" *ngIf="teacher && step1 && !imageViewer">

    <div id="buttonReview_w" *ngIf="editable && reviewable">
        <button class="buttonO" mat-flat-button (click)="clickreview()">Carica una revisione</button>
    </div>
    <div id="buttonRate_w" *ngIf="ratable">
        <button class="buttonO" mat-flat-button (click)="clickrate()">Assegna un voto</button>
    </div>

</div>

<form [formGroup]="valutaForm" (ngSubmit)="onSubmit2()" autocomplete="off">
<div id="rate" *ngIf="!step1 && goRate && teacher && !imageViewer">
    <mat-form-field id="form" appearance="fill">
        <mat-label>Voto: </mat-label>
        <mat-select formControlName = "voto" >
          <mat-option *ngFor="let rate of rates" [value]="rate">{{rate}}</mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-flat-button class="buttonO">Conferma</button>
</div>
</form>

<form [formGroup] = "soluzioneForm" (ngSubmit) = "onSubmit()"  autocomplete="off">
<div id="review" *ngIf="!step1 && goReview && teacher && !imageViewer">
    <mat-form-field appearance="fill">
    <mat-label>Commenta la soluzione dello studente:</mat-label>
    <div id="textarea_w">
        <textarea matInput id="textarea" formControlName = "soluzione" [(ngModel)]="data.soluzione" ></textarea>
    </div>
    </mat-form-field>
    <div id="definitiva">
        <mat-label>Vuoi che questa sia la soluzione definitiva?</mat-label>
        <mat-checkbox id="checkbox" formControlName="check" [(ngModel)]="data.check"></mat-checkbox>
    </div><br>
    <button mat-flat-button class="buttonRev" >Conferma</button>
    
</div>
</form>

<div id="buttons_st" *ngIf="student && !revisioni && !imageViewer">

    <div id="buttonCaricaST_w">
        <button class="buttonO" mat-flat-button>Carica una nuova soluzione</button>
    </div>

</div>

<div *ngIf="revisioni && !imageViewer">
    <p>
        {{ currentReview }}
    </p>
    <div id="closeRev">
        <button mat-flat-button (click)="exitReview()" class="buttonO">
            Chiudi
        </button>
    </div>
</div>

<div id="viewSol" *ngIf="imageViewer">

    <div id="viewSol_img">
        <img id="viewSol_img_obj" src="{{currentSol}}">
    </div>
    <div id="viewSol_btn">
        <button mat-flat-button class="buttonO" (click)="exitImageViewer()">
            Torna indietro
        </button>
    </div>
    
</div>
