<mat-accordion>

    <mat-expansion-panel *ngFor="let ass of assignmentWithPapers" (opened)="setView(ass.papersWithHistory)" (closed)="clearChips()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <button class ="lab" mat-mini-fab>{{ass.assignment.id}}</button>
        </mat-panel-title>
        <mat-panel-description>
          
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="chips">
        <mat-chip-list
          selectable
          class="example-chip">
          <mat-chip
            #c="matChip"
            class="example-box"
            (click)="toggle(c)"
            *ngFor="let stat of status">
            {{stat}}
          </mat-chip>
        </mat-chip-list>
      </div>
     
      <mat-list class="papers">
        <mat-list-item class="paper" *ngFor="let pap of filteredViewingPapers" (click)="viewPaper(pap.paper.id, pap.history)">
          {{pap.paper.id}}, {{pap.paper.currentStatus}}
        </mat-list-item>
      </mat-list>
      
    </mat-expansion-panel>

  </mat-accordion>
  <div id="add_wrapper">
    <button mat-fab id="add" (onclick)="addAssignment()"><mat-icon>add</mat-icon></button>
  </div>