<mat-accordion>

    <mat-expansion-panel *ngFor="let ass of ordered(assignmentWithPapers)" (opened)="setView(ass.papersWithHistory)" (closed)="clearChips()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <button class ="lab" mat-flat-button class="crDate">{{displayDate(ass.assignment.creationDate)}}</button>
          <button class ="lab" mat-flat-button [ngClass]="classOf(ass.assignment.expiryDate)">{{displayDate(ass.assignment.expiryDate)}}</button>
        </mat-panel-title>
        <mat-panel-description class="descr">
          {{ ass.papersWithHistory?.length || '0' }} elaborati
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="chips">
        <mat-chip-list
          selectable
          class="example-chip">
          <mat-chip
            #c="matChip"
            class="example-box"
            [ngClass]="stat"
            (click)="toggle(c)"
            *ngFor="let stat of status">
            {{stat}}
          </mat-chip>
        </mat-chip-list>
      </div>
     
      <mat-list class="papers">
        <mat-list-item class="paper" *ngFor="let pap of filteredViewingPapers" (click)="viewPaper(pap.paper.id, pap.history, pap.paper.currentStatus, pap.paper.editable, ass.id, ass.assignment)">
          <button class="statusCircle" [ngClass]="pap.paper.currentStatus">s{{pap.creator.id}}</button>
          <p class="details">{{pap.creator.firstName}} {{pap.creator.name}}</p>
        </mat-list-item>
      </mat-list>
      
    </mat-expansion-panel>

  </mat-accordion>

   <div class="cell">

      <div id="button2">
         <button mat-fab mat-raised-button (click)="createconsegna()">
            <mat-icon>add</mat-icon>
         </button>
     </div>

   </div>


