#add_wrapper {
}
#add {
    margin-top: 10px;
    margin-left: 10px;
}

.papers {
    margin-top: 10px;
}

.paper:hover {
    cursor: pointer;
    background-color: #e0e0e0;
}

.chips {
    height: fit-content;
    border-bottom: 10px;
}

.lab {
    box-shadow: none !important;
    background-color: royalblue;
}

.example-box:hover {
    cursor: pointer;
}

.valutati {
    background-color: #00ff99;
    color: #0a0f0f;
}

.rivisti {
    background-color: #ffff66;
    color: #0a0f0f;
}

.consegnati {
    background-color: #3399ff;
    color: white;
}

.letti {
    background-color: #ff3399;
    color: white;
}

